#parentBlock {
    position: fixed;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    padding: 15px;
    height: fit-content;
    width: fit-content;
}

.commandBlock {
    height: 100%;
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media only screen and (orientation: portrait) {
    #parentBlock {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        border-style: solid;
        border-color: #FFFFFF;
        border-width: 1px;
        padding: 15px;
        height: fit-content;
        flex-direction: row;
    }
    .commandBlock {
        height: 100%;
    }
}

#moreOptions {
    width: 100%;
}

#viewDiv {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    padding: 7px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.viewButton {
    margin: 2px;
}

p, label {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF
}

label {
    font-size: 9pt;
    word-wrap: normal;
}

p {
    font-size: 11pt;
}

.flexChild {
    margin: 3px;
}