#parentBlock {
    position: absolute;
    right: 0;
    bottom: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    padding: 15px;
    height: fit-content;
    width: fit-content;
}

.commandBlock {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media only screen and (orientation: portrait) {
    #parentBlock {
        position: absolute;
        left: 0;
        bottom: 1px;
        border-style: solid;
        border-color: #FFFFFF;
        border-width: 1px;
        padding: 10px;
        height: fit-content;
        width: calc(100vw - 22px);
        flex-direction: row;
        justify-content: space-around;
    }
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    min-height: -webkit-fill-available;
}

#moreOptions {
    width: 100%;
}

#viewDiv {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    padding: 7px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.viewButton {
    margin: 2px;
}

p, label {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF
}

label {
    font-size: 9pt;
    word-wrap: normal;
}

p {
    font-size: 11pt;
}

.flexChild {
    margin: 3px;
}